<!-- Header -->
	<div id="header-wrapper">
		<div id="header">

			<!-- Logo -->
				<h1><a href="{{ site.baseurl }}/index.html">MerceEdge</a></h1>

			<!-- Nav -->
				<nav id="nav">
					<ul>
						<li class="current"><a href="index.html">Home</a></li>
						<li><a href="{{ site.baseurl }}/left-sidebar.html">Get Started</a></li>
						<li>
							<a href="">Documents</a>
							<ul>
								<li><a href="#">Installation</a></li>
								<li><a href="#">New Component</a></li>
								<li><a href="#">New Formula</a></li>
								<li><a href="#">New Wireload</a></li>
								<li><a href="#">REST API</a></li>
							</ul>
						</li>
						<li><a href="{{ site.baseurl }}/left-sidebar.html">Examples</a></li>
						<li>
							<a href="">Github</a>
							<ul>
								<li><a href="{{ site.baseurl }}/no-sidebar.html">Follow us</a></li>
								<li><a href="{{ site.baseurl }}/no-sidebar.html">Report issue</a></li>
								<li><a href="{{ site.baseurl }}/no-sidebar.html">Fork</a></li>
							</ul>
						</li>
						
					</ul>
				</nav>

				<div class="header-img">
					<img src="{{ site.baseurl }}/assets/images/pic11.jpg">
				</div>

		</div>
	</div>