<!-- Header -->
	<div id="header-wrapper">
		<div id="header">

			<!-- Logo -->
				<h1><a href="{{ site.baseurl }}/index.html"><color>M</color>erceEdge.</a></h1>

			<!-- Nav -->
			<nav id="nav">
					<ul>
						<li class="current"><a href="{{ site.baseurl }}/index.html">Home</a></li>
						<li><a href="{{ site.baseurl }}/start.html">Get Started</a></li>
						<li>
							<a href="">Documents</a>
							<ul>
								<li><a href="{{ site.baseurl }}/docs/install.html">Installation</a></li>
								<li><a href="{{ site.baseurl }}/docs/model.html">Abstrat Model</a></li>
								<li><a href="{{ site.baseurl }}/docs/component.html">New Component</a></li>
								<li><a href="{{ site.baseurl }}/docs/formula.html">New Formula</a></li>
								<li><a href="{{ site.baseurl }}/docs/wireload.html">New Wireload</a></li>
								<li><a href="{{ site.baseurl }}/docs/api.html">REST API</a></li>
							</ul>
						</li>
						<li><a href="{{ site.baseurl }}/examples.html">Examples</a></li>
						<li>
							<a href="">Github</a>
							<ul>
								<li><a href="https://github.com/merceedge/MerceEdge">Follow us</a></li>
								<li><a href="https://github.com/merceedge/MerceEdge/issues/new/choose">Report issue</a></li>
							</ul>
						</li>
						
					</ul>
				</nav>

				<!-- <div class="header-img">
					<img src="{{ site.baseurl }}/assets/images/banner01.jpg">
				</div> -->

		</div>
	</div>